.container {
  padding: 0 1rem;
}

.py-1 {
  padding: 0.3rem 0;
}
.py-2 {
  padding: 1rem 0;
}
.py-3 {
  padding: 1.5rem 0;
}

.py-4 {
  padding: 2.5rem 0;
}

.my-1 {
  margin: 0.3rem 0;
}
.my-2 {
  margin: 1rem 0;
}
.my-3 {
  margin: 1.5rem 0;
}

.mt-1 {
  margin-top: 0.3rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 2.5rem;
}

.mt-5 {
  margin-top: 3.5rem;
}

p {
  line-height: 1.5;
}

.large-heading {
  font-size: 1.8rem;
}

.medium-heading {
  font-size: 1.5rem;
}

.small-heading {
  font-size: 1rem;
}

/* Nav */
header {
  overflow: hidden;
}

/* Header */

#main-header .header-content {
  margin: 4rem 0;
}

#main-header .social-icons {
  margin: 1rem 0;
}

#main-header .link-tags p {
  padding: 0.5rem 0;
  font-size: 0.8rem;
}

/* About */

#about .company-dept {
  grid-template-columns: 1fr;
  grid-gap: 2.5rem;
}

#about .department {
  width: 60%;
  justify-self: center;
}

/* Services */

#service .our-goals {
  grid-gap: 1rem;
}

#service .goals {
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#service .icons {
  margin-bottom: 1rem;
}

/* Statistic */

#stat {
  height: 35vh;
}

#stat .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
}

/* Blog  */

#blog .content {
  max-width: 338px;
}

#blog .blog-services img {
  width: 100%;
}

/* Projects */

#project .projects {
  grid-template-columns: 1fr;
}

/* Team */

#team .team-members {
  justify-self: center;
  grid-template-columns: 1fr;
}

/* contact form */

#contact .form-group {
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

#contact input {
  padding: 0.7rem;
}

#contact textarea {
  padding: 0.7rem;
}

/* Footer  */
#footer .footer-content {
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

@media (max-width: 320px) {
  #main-header {
    height: 75vh;
  }
}
