:root {
  --primary-color: #00bfff;
  --secondary-color: #000000;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Utilities  */

.container {
  max-width: 1160px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.displayGrid {
  display: grid;
}

.displayNone {
  display: none;
}

p {
  font-size: 0.8rem;
  line-height: 1.7;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.heading {
  font-weight: bold;
}

.large-heading {
  font-size: 2.5rem;
  font-weight: bold;
}

.medium-heading {
  font-size: 1.7rem;
  font-weight: bold;
}

.small-heading {
  font-size: 1.2rem;
  font-weight: bold;
}

.ls {
  letter-spacing: 0.5rem;
}

.bg-primary {
  background: var(--primary-color);
}

.bg-gray {
  background: #f3f3f3;
}

.bg-white {
  background: #fff;
}

.bg-dark {
  background: #21262b;
}

.text-white {
  color: #fff;
}

.text-blue {
  color: #19198c;
}

.text-gray {
  color: #f3f3f3;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--secondary-color);
}

.py-1 {
  padding: 0.5rem 0;
}
.py-2 {
  padding: 1.5rem 0;
}
.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 4rem 0;
}

.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

/* Main-Header */

#main-header {
  height: 92vh;
  background: url("../images/b6.jpg") no-repeat center center/cover;
}

/* Nav */

#main-nav {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background: #fff;
}

#main-nav .nav-content {
  display: flex;
}

#main-nav .main-logo {
  background: var(--primary-color);
  padding: 0.2rem 1.5rem;
}

#main-nav .main-logo a {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  font-family: "Staatliches", cursive;
}

#main-nav .nav-content ul {
  display: flex;
}

#main-nav .nav-content li {
  padding: 1.2rem;
}

#main-nav .nav-content li a {
  color: var(--secondary-color);
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Teko", sans-serif;
  letter-spacing: 0.2rem;
}

#main-nav .nav-content li:hover {
  background: var(--primary-color);
}

#main-nav .nav-content li:hover a {
  color: #fff;
}
#main-nav .nav-search {
  padding: 1rem;
}

#main-nav .nav-search input {
  padding: 0.7rem;
  border: 1px solid var(--primary-color);
  font-size: 0.8rem;
}
#main-nav .nav-search input:focus {
  outline: none;
}

#main-nav .nav-search button {
  padding: 0.8rem;
  background: var(--primary-color);
  margin-left: -10px;
  border: none;
}

#main-nav .nav-search button:hover {
  cursor: pointer;
}

#main-nav .nav-search button i {
  color: #fff;
}

#mobile-nav-bar {
  display: none;
}

#main-header .header-content {
  margin: 8rem 0;
  color: #fff;
}

#main-header .social-icons {
  margin: 3rem 0;
}

#main-header .social-icons ul {
  display: flex;
}
#main-header .social-icons ul li {
  padding-right: 1.5rem;
}
#main-header .social-icons ul li a {
  color: #fff;
}

#main-header .link-tags p {
  font-size: 0.9rem;
}

/* About */

#about .about-items {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 2rem;
}

#about .company-dept {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2.5rem;
}

#about .department {
  padding: 1rem;
  box-shadow: 2px 2px 2px 2px rgba(170, 170, 170, 0.5);
}
#about .icons {
  font-size: 1.5rem;
}
#about .dept-names {
  padding-top: 1rem;
}

#about .about-image h3 {
  text-align: center;
}

#about .about-image img {
  width: 100%;
  margin-top: 2.5rem;
}

/* Services */

#service {
  display: grid;
  grid-template-columns: 1fr 1.4fr;
}

#service .heading {
  text-align: center;
}

#service .our-goals {
  display: grid;
  grid-gap: 3rem;
  padding: 3.5rem;
}

#service .goals {
  display: flex;
}

#service .icons {
  margin-right: 1.5rem;
  font-size: 1.4rem;
}

#service .icons i {
  padding: 1rem;
  border: 2px solid blue;
  border-radius: 50%;
  color: var(--primary-color);
}

#service .our-goals-image {
  background: url("/images/ab1.jpg") no-repeat center center/cover;
  width: 100%;
}

/* Statistic */
#stat {
  background: url("../images/b2.jpg") no-repeat center center/cover;
  height: 33vh;
}

#stat .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 100%;
}

/* Blog */

#blog {
  display: grid;
  grid-template-columns: 1fr;
}

#blog .blog-services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 4rem;
}

#blog .content {
  max-width: 500px;
  position: absolute;
  padding: 2.5rem;
  box-shadow: 2px 2px 1px 2px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

#blog .blog-services .service-image {
  position: relative;
}

#blog .blog-services img {
  width: 95%;
}

#blog .blog-services .service-content .heading {
  text-align: center;
}

#blog .blog-services .service-content .s-content {
  right: 23rem;
  margin-top: 1rem;
}

#blog .blog-services .experience-content .e-content {
  left: 23rem;
  margin-top: 4rem;
}

#blog .blog-services .experience-image {
  position: relative;
}

#blog .blog-services .strategy-image {
  position: relative;
}

#blog .blog-services .strategy-content .b-content {
  right: 23rem;
  margin-top: 4rem;
}

/* Projects */

#project .heading {
  text-align: center;
}

#project .projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.8rem;
  padding-top: 4rem;
}

#project .project-half {
  background: #fff;
  padding: 1.5rem;
  box-shadow: 2px 2px 3px 3px rgba(170, 170, 170, 0.2),
    -2px -2px 3px 3px rgba(170, 170, 170, 0.2);
}

#project .project-full {
  background: #fff;
  padding: 1.5rem;
  box-shadow: 2px 2px 3px 3px rgba(170, 170, 170, 0.2),
    -2px -2px 3px 3px rgba(170, 170, 170, 0.2);
}

#project .project-image img {
  width: 100%;
}

/* Team */

#team {
  background: url("/images/b2.jpg") no-repeat center center/cover;
}

#team .teams {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

#team .team-heading {
  text-align: center;
}

#team .team-members {
  grid-column: 2 / span 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.8rem;
}

#team .member-image {
  width: 100%;
}

#team .member-image img {
  width: 100%;
}

#team .member-name {
  padding: 1.5rem;
}

#team .member-name p {
  padding-top: 0.5rem;
  font-size: 0.9rem;
}

/* map */

#map {
  height: 50vh;
}

/* contact form */

#contact .heading {
  text-align: center;
}

#contact form {
  display: grid;
  grid-gap: 1rem;
  padding-top: 3rem;
}

#contact .form-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

#contact input {
  padding: 1rem;
  border: 1px solid #aaaaaa;
  box-shadow: 2px 2px 3px 3px rgba(170, 170, 170, 0.2),
    -2px -2px 3px 3px rgba(170, 170, 170, 0.2);
}

#contact input::placeholder {
  font-size: 0.9rem;
}

#contact textarea {
  padding: 1rem;
  width: 100%;
  font-size: 0.9rem;
  border: 1px solid #aaaaaa;
  box-shadow: 2px 2px 3px 3px rgba(170, 170, 170, 0.2),
    -2px -2px 3px 3px rgba(170, 170, 170, 0.2);
}

#contact .btn {
  display: inline-block;
  width: 6rem;
  padding: 0.7rem 0;
  font-size: 1rem;
  color: #fff;
  border-radius: 3px;
  border: none;
}

/* Footer */

#footer {
  color: #c8c4c4;
}

#footer .footer-top {
  display: grid;
}

#footer .footer-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#footer .navigator {
  justify-self: center;
  font-size: 2rem;
}

#footer .navigator a {
  color: #fff;
}

#footer .footer-bottom {
  background: #000000;
  text-align: center;
  padding: 1.5rem 0;
}

#footer .footer-bottom p {
  font-size: 0.9rem;
}

@media (max-width: 897px) {
  #main-header {
    height: 60vh;
  }

  /* Nav */

  #main-nav .nav-content li {
    padding: 0 0.5rem;
    align-self: center;
  }

  #main-nav .nav-content li a {
    font-size: 1rem;
  }
  /* Blog */
  #blog .blog-services .service-content .s-content {
    margin-top: 0.1rem;
  }

  #blog .blog-services .experience-content .e-content {
    margin-top: 2rem;
  }

  #blog .blog-services .strategy-content .b-content {
    margin-top: 2rem;
  }
}
