/* Main-Header */

#main-header {
  height: 60vh;
}

/* Nav */

#main-nav .nav-content li {
  padding: 0 0.5rem;
  align-self: center;
}

#main-nav .nav-content li a {
  font-size: 1rem;
}

/* About */

#about .about-items {
  grid-template-columns: 1fr;
}

#about .company-dept {
  grid-gap: 2rem;
}

/* Services */

#service {
  grid-template-columns: 1fr;
}

#service .our-goals-image {
  height: 30vh;
}

/* Blog */

#blog .blog-services {
  grid-template-columns: 1fr;
  margin-top: 1rem;
}

#blog .content {
  max-width: 700px;
  position: relative;
}

#blog .blog-services .service-content .s-content {
  right: 0;
  left: 0;
}

#blog .blog-services .experience-content .e-content {
  left: 0;
  right: 0;
  margin-top: 1rem;
}

#blog .blog-services .strategy-content .b-content {
  right: 0;
  left: 0;
  margin-top: 1rem;
}

#blog .blog-services .experience-image {
  margin-top: 1rem;
}

#blog .blog-services img {
  width: 100%;
}
/* Projects */

#project .projects {
  grid-template-columns: repeat(2, 1fr);
}

/* Team */

#team .teams {
  grid-template-columns: 1fr;
}

#team .team-members {
  grid-column: 1;
}

#team .member-name {
  padding: 1rem;
}
