/* Main-Header */
#main-header {
  height: 43vh;
}

/* Services  */

#service .our-goals {
  padding: 2.5rem 1rem;
}

/* Statistic */

#stat {
  height: 20vh;
}

/* Blog */

#blog .blog-services .service-content .s-content {
  right: 12rem;
}

#blog .blog-services .experience-content .e-content {
  left: 12rem;
}

#blog .blog-services .strategy-content .b-content {
  right: 12rem;
}

#blog .content {
  max-width: 450px;
  padding: 1.5rem;
}

/* map */

#map {
  height: 25vh;
}
